# 复制为 .env 后按需修改
NIKO_APP_ENV=dev
NIKO_APP_PORT=8080
NIKO_DB_HOST=35.206.239.45
NIKO_DB_PORT=5432
NIKO_DB_USER=postgres
NIKO_DB_PASSWORD=postgres
NIKO_DB_NAME=niko_admin
NIKO_REDIS_HOST=35.206.239.45
NIKO_REDIS_PORT=6379
NIKO_REDIS_PASSWORD=
NIKO_JWT_SECRET=change-me-in-production
NIKO_STORAGE_DRIVER=local
